Package: com.luki.reachspring
Name: ReachSpring
Version: 2.0
Architecture: iphoneos-arm
Description: Trigger respring like a god invoking the reachability gesture
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate
